<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%;max-width:600px" align="center">
  <tbody>
  <tr>
    <td role="modules-container" style="padding:0px 0px 0px 0px;color:#000000;text-align:left" bgcolor="#FFFFFF" width="100%" align="left">
      <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" style="padding:20px 20px 20px 20px" bgcolor="#FFFFFF">
        <tbody>
        <tr role="module-content">
          <td height="100%" valign="top">
            <table width="560"
                   style="width:560px;border-spacing:0;border-collapse:collapse;margin:0px 0px 0px 0px"
                   cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
                   class="m_-7838534272445517478column">
              <tbody>
              <tr>
                <td style="padding:0px;margin:0px;border-spacing:0">
                  <table role="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
                    <tbody>
                    <tr>
                      <td style="padding:0px 0px 0px 0px;line-height:28px;text-align:inherit"
                          height="100%" valign="top" bgcolor=""
                          role="module-content">
                        <div>
                          <div style="font-family:inherit;text-align:center">
                            <span style="font-size:22px;color:#262626;font-family:arial,helvetica,sans-serif">
                              <strong><span class="il">인증번호를 확인해주세요</span></strong>
                            </span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table role="module" border="0" cellpadding="0" cellspacing="0"
                         width="100%" style="table-layout:fixed">
                    <tbody>
                    <tr>
                      <td style="padding:0px 0px 0px 0px;line-height:24px;text-align:inherit" height="100%" valign="top" bgcolor="" role="module-content">
                        <div>
                          <div style="font-family:inherit;text-align:center">
                            <div>
                              <span style="color:#262626;font-size:16px;font-family:arial,helvetica,sans-serif" >
                                  <span th:text="${expirationMinute}"></span>분 이내에 아래 인증 번호를 인증화면에 입력해주세요.
                              </span>
                            </div>
                            <div>
                              <span style="color:#262626;font-size:16px;font-family:arial,helvetica,sans-serif">
                                  시간이 지날 경우 인증 번호를 재전송 해주셔야 합니다.
                              </span>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table role="module" border="0" cellpadding="0" cellspacing="0"
                         width="100%" style="table-layout:fixed">
                    <tbody>
                    <tr>
                      <td style="padding:0px 0px 16px 0px" role="module-content"
                          bgcolor="">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table border="0" cellpadding="0" cellspacing="0" role="module"
                         style="table-layout:fixed" width="100%">
                    <tbody>
                    <tr>
                      <td align="center" bgcolor=""
                          style="padding:0px 0px 0px 0px">
                        <table border="0" cellpadding="0" cellspacing="0"
                               class="m_-7838534272445517478wrapper-mobile"
                               style="text-align:center">
                          <tbody>
                          <tr>
                            <td align="center" bgcolor="#F2F2F2"
                                style="border-radius:6px;font-size:16px;text-align:center;background-color:inherit">
                              <a style="background-color:#f2f2f2;border:0px solid #f2f2f2;border-color:#f2f2f2;border-radius:12px;border-width:0px;color:#262626;display:inline-block;font-weight:700;letter-spacing:0px;line-height:normal;padding:12px 20px 12px 20px;text-align:center;text-decoration:none;border-style:solid;font-size:22px;font-family:arial,helvetica,sans-serif" th:text="${verificationNumber}"></a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table role="module" border="0" cellpadding="0" cellspacing="0"
                         width="100%" style="table-layout:fixed">
                    <tbody>
                    <tr>
                      <td style="padding:0px 0px 16px 0px" role="module-content"
                          bgcolor="">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module"
             style="padding:20px 0px 20px 0px" bgcolor="#f7f7f7">
        <tbody>
        <tr role="module-content">
          <td height="100%" valign="top">
            <table width="600"
                   style="width:600px;border-spacing:0;border-collapse:collapse;margin:0px 0px 0px 0px"
                   cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""
                   class="m_-7838534272445517478column">
              <tbody>
              <tr>
                <td style="padding:0px;margin:0px;border-spacing:0">
                  <table class="m_-7838534272445517478wrapper" role="module" border="0"
                         cellpadding="0" cellspacing="0" width="100%"
                         style="table-layout:fixed">
                    <tbody>
                    <tr>
                      <td style="font-size:6px;line-height:10px;padding:0px 0px 7px 0px"
                          valign="top" align="center">
                        <img class="m_-7838534272445517478max-width CToWUd"
                             border="0"
                             style="display:block;color:#000000;text-decoration:none;font-family:Helvetica,arial,sans-serif;font-size:16px"
                             width="24" alt=""
                             src="https://ci3.googleusercontent.com/meips/ADKq_NYDhA0MdSHMm0jO9vHaqhGx33qxiVy3fJJboSbu2MYXVk-nswDbaxDrkPtc6tJFA9-LQcDHuWR-rypCCja5zYm-D71vOZhIxVimX7XlIGuGQQmc_7k9ENfMIUmexkh4gBoLVaJIsDS5QkzIEcnGtSbBOm9eLgBkg7mqGem_KhiOyMYaF47n=s0-d-e1-ft#http://cdn.mcauto-images-production.sendgrid.net/78f6b2550a2d5567/ad5ddb3f-ab3e-4fcc-8e95-62316a3dffc3/49x48.png"
                             height="24" data-bit="iit">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table role="module" border="0" cellpadding="0" cellspacing="0"
                         width="100%" style="table-layout:fixed">
                    <tbody>
                    <tr>
                      <td style="padding:0px 0px 0px 0px;line-height:16px;text-align:inherit"
                          height="100%" valign="top" bgcolor=""
                          role="module-content">
                        <div>
                          <div style="font-family:inherit;text-align:center">
                                                                        <span style="color:#949494;font-size:12px">이 메일은
                                                                            위브(WEAVE)에서 발송되었습니다.</span></div>
                          <div></div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
